Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  clang-analyzer-core.*,
  bugprone-signed-char-misuse',
  cppcoreguidelines-*
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
